root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[*.{js,jsx,ts,tsx,css,json,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
max_line_length = off

[*.html]
ij_html_quote_style = double
