# 로컬 환경 용 (HTTPS)
localhost {
    route /backoffice/api/* {
        uri strip_prefix /backoffice/api
        reverse_proxy backend_backoffice:8080
    }
    redir /backoffice/api /backoffice/api/

    route /backoffice/* {
        uri strip_prefix /backoffice
        reverse_proxy frontend_backoffice:80
    }
    redir /backoffice /backoffice/
}

# 개발 서버 배포 용 (HTTP)
http:// {
    route /backoffice/api/* {
        uri strip_prefix /backoffice/api
        reverse_proxy backend_backoffice:8080
    }
    redir /backoffice/api /backoffice/api/

    route /backoffice/* {
        uri strip_prefix /backoffice
        reverse_proxy frontend_backoffice:80
    }
    redir /backoffice /backoffice/
}
